<h1>Editing generational</h1>

<%= render "form", generational: @generational %>

<br>

<div>
  <%= link_to "Show this generational", @generational %> |
  <%= link_to "Back to generationals", generationals_path %>
</div>
