<div id="<%= dom_id post %>" class="border rounded shadow-md p-4 mb-4">
  <p class="mb-2">
    <strong class="font-bold">Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong class="font-bold">Description:</strong>
    <%= post.description %>
  </p>
</div>
