<h1><%= @member.first_name %> <%= @member.last_name %>'s Posts</h1>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div>
      <h2><%= post.title %></h2>
      <p><%= post.content %></p>
    </div>
  <% end %>
<% else %>
  <p>No posts found.</p>
<% end %>
